/* App.blade */
#left-side {
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: #433C3C;
    background-position: center;
    width: 50vw;
    height: 100vh;
}

#left-side img {
   max-width: 100%;
}

#right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right-side form {
    width: 80%;
    padding-left: 50px;
}

#right-side form h1 {
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

#right-side form a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s;
}

#right-side form button {
    margin-bottom: 10px;
    margin-right: 5px;
}

#right-side form a span{
    color: #3490dc;
}

#right-side form a:hover {
    opacity: 0.8;
    cursor: pointer;
}

#button {
    width: 127px;
    height: 45px;
    border: 0;
    background: #59C15D;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    transition: filter 0.2s;
}

#button:hover{
    filter: brightness(90%);
}

.input {
    padding: 0px 10px;
    background: #FAFAFA;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}


.input::placeholder {
    color: lightgray;
}

/* Register.blade */
#form-group-double {
    padding: 0;
}

#form-group-double input + input {
    margin-left: 5px;
}

/* Sessao.blade */
#navbar-central {
    background: #433C3C;
    z-index: 1;
}

#navbar-central i {
    color: #E5E5E5;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: filter 0.2s;
}

#navbar-central i:hover {
    filter: brightness(80%);
}

#navbar-central div li button {
    background: transparent;
    padding: 0;
    display: block;
    border: none;
    margin: 0;
    outline: none;
}

#navbar-central div li button i {
    margin: 0;
}

#navbar-sub {
    background: #4A3E3E;
    padding: 8px 100px;
    display: block;
}

#navbar-sub a i {
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
}

#navbar-sub a i {
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
}

#navbar-sub a {
    transition: filter 0.2s;
    background: transparent;
    text-decoration: none;
    box-sizing: content-box;
}

#navbar-sub a i, strong {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #FFFFFF;
    cursor: pointer;
}

#navbar-sub a:hover {
    filter: brightness(80%);
    cursor: pointer;
}
